h1 {
    margin-left: 590px;
    position: relative;
    top: 30px;
    font-size: 60px;
    padding: 0;
}

#clear {
    margin-left: 600px;
}

#resize {
    margin-left: 30px;
}

#black {
    margin-left: 40px;
}

#colors {
    margin-left: 50px;
}

button:hover{
    color: #59a1ff;
    border: #59a1ff solid 1px;
    background:#fff;
}

#container {
    background-color: black;
    border: 1px solid black;
    background: 50px;
    margin-top: 30px;
    margin-left: 585px;
    display: grid;
    padding: 0;
}

.square {
    background-color: white;
    display: grid;
    border: 1px solid black;
    box-sizing: border-box
} 